@model Restaurant

@{
    ViewBag.Title = "Create";
}
<h1>Create</h1>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />  
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Cusine"></label>
        <select asp-for="Cusine" asp-items="Html.GetEnumSelectList<CusineType>()"></select>
        <span asp-validation-for="Cusine"></span>
    </div>
    
    <input type="submit" name="save" value="Save" />
</form>